Cython>=0.25
h5py>=2.6,!=3.0.0
numpy>=1.26.0
# GitHub Issue for Pinning Pandas < 2.2.0: https://github.com/ludwig-ai/ludwig/issues/3907
pandas==2.1.1
scipy>=0.18
tabulate>=0.7
scikit-learn>=1.5.2
tqdm
torch==2.0.1
torchaudio==2.0.2
torchtext==0.15.2
torchvision==0.15.2
pydantic<2.0
transformers==4.33.2
tifffile==2024.9.20
imagecodecs>=2024.1.1
tokenizers==0.13.3
spacy>=2.3
PyYAML>=3.12,<6.0.1,!=5.4.* #Exlude PyYAML 5.4.* due to incompatibility with awscli
absl-py
kaggle
requests
matplotlib==3.7.0
ptitprince==0.2.7
fsspec[http]<=2023.10.0
dataclasses-json
jsonschema>=4.5.0,<4.7
marshmallow
marshmallow-jsonschema
marshmallow-dataclass==8.5.4
tensorboard>=2.9.0
nltk    # Required for rouge scores.
torchmetrics>=1.4.0
torchinfo==1.8.0
filelock
psutil
protobuf
py-cpuinfo==9.0.0
gpustat
rich~=12.4.4
packaging
retry

# required for TransfoXLTokenizer when using transformer_xl
sacremoses
sentencepiece

# requirements for daft
# NOTE: daft needs to be <0.2 because of deprecation of fsspec argument in Daft
# Pinned for consistency with ludwig-ray docker image.
getdaft==0.1.20

# requirement for various paged and 8-bit optimizers
bitsandbytes<0.41.0

# new data format support
xlwt                # excel
xlrd>=2.0.1         # excel
xlsxwriter>=1.4.3   # excel
openpyxl>=3.0.7     # excel
pyxlsb>=1.0.8       # excel
pyarrow<15.0.0      # parquet
lxml                # html
html5lib            # html

# requirement for loading hugging face datasets
datasets>=2.16.0

# pin required for torch 2.1.0
urllib3<2
